<div class="my-3">
  <h6 [ngClass]="{ strike: !todo.active }">{{ todo.title }}</h6>
  <p [ngClass]="{ strike: !todo.active }">{{ todo.description }}</p>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      (click)="CheckboxChanged(todo)"
      id="flexCheckDefault{{ i }}"
      [checked]="!todo.active"
    />
    <label class="form-check-label" for="flexCheckDefault{{ i }}"> Done </label>
  </div>
  <button class="btn-sm btn-danger" (click)="Handleclick(todo)">Delete</button>
</div>
